.desktop-icon {
  width: 80px;
  text-align: center;
  padding: 6px 4px;
  cursor: default;
  border-radius: 4px;
}

.desktop-icon:hover {
  background: rgba(255, 255, 255, 0.1);
}

.desktop-icon-img {
  width: 48px;
  height: 48px;
}

.desktop-icon-label {
  color: white;
  font-size: 14px;
  margin-top: 5px;
}
