.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #c0c0c0;
  display: flex;
  align-items: center;
  border-top: 2px solid black;
  padding: 4px;
  box-sizing: border-box;
}

/* LEFT SYSTEM AREA */
.taskbar-left {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 8px;
}


.taskbar-tray {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 0px 6px;

  background: #c0c0c0;

  /* tray-style bevel */
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
}

/* Mascot */
.taskbar-buzz {
  height: 32px;
  width: 32px;

  image-rendering: pixelated;
}



/* WINDOW BUTTONS */
.taskbar-windows {
  display: flex;
  gap: 4px;
  flex: 1;
}

.taskbar-item {
  background: #e0e0e0;
  border: 1px solid black;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 14px;
}

.taskbar-item.active {
  background: #ffffff;
  border: 2px solid black;
}

